<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.CompanyInfoMapper">

    <select id="qryCompanyIdByname" resultType="java.lang.String">
       SELECT company_id FROM tx_company_info where company_name = #{companyName}
    </select>

    <select id="qryListCompanyInfo" resultType="org.hero.renche.entity.vo.CompanyInfoVo">

        select company_id as companyId ,company_name as companyName,type,shuihao,bank,bank_no as bankNo,contacts,phone,id_card as idCard,
            introduc,address,email,ifnull(c.file_rel_id,'') as fileRelId,dict_code_name as typeName,
            length(c.file_rel_id)-length(replace(c.file_rel_id,',','')) as fileCount
        from tx_company_info c
        left join tx_dict d on c.type = d.dict_code_id and d.dict_code='CUSTOMETYPE'
        <trim prefix="where" prefixOverrides="and">
            <if test="CompanyInfo.companyName != null and CompanyInfo.companyName != '' ">
                and  company_name like CONCAT('%',#{CompanyInfo.companyName},'%')
            </if>
            <if test="CompanyInfo.shuihao != null and CompanyInfo.shuihao != '' ">
                and  shuihao  like CONCAT('%',#{CompanyInfo.shuihao},'%')
            </if>
            <if test="CompanyInfo.type != null and CompanyInfo.type != '' ">
                and  type = #{CompanyInfo.type}
            </if>
        </trim>
        order by create_time desc
    </select>

    <select id="qryCompanyName" resultType="java.util.HashMap">
        select distinct company_id as id , company_name as value  from tx_company_info order by company_name desc
    </select>

    <select id="getIds" resultType="java.lang.String">
        select company_id from tx_company_info where company_name like CONCAT('%',#{companyName},'%')
    </select>

    <select id="qryCompanyNameList" resultType="org.hero.renche.entity.CompanyInfo">
        select company_id as companyId,company_name as companyName from tx_company_info where company_name like CONCAT('%',#{companyName},'%')
    </select>

    <select id="qryFileIdById" resultType="java.lang.String">
		select  ifnull(file_rel_id,'') as fileRelId from tx_company_info where company_id = #{companyId}
	</select>

    <update id="updateFileIds">
		 update tx_company_info set file_rel_id = #{CompanyInfo.fileRelId} where company_id = #{CompanyInfo.companyId}
	</update>

    <select id="qryCompanyById">
        select company_name from tx_company_info where company_id = #{companyId}
    </select>

</mapper>