<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.ContractInfoMapper">

    <select id="qryListContractInfo" resultType="org.hero.renche.entity.vo.ContractInfoVo">

        select t.contract_id as contractId,contract_name as contractName,party_a as partyA,a.company_name as companyNameA,
            contract_no_a as contractNoA,party_b as partyB,b.company_name as companyNameB,contract_no_b as contractNoB,
            contract_status as contractStatus,contract_money as contractMoney,sign_in_time as signInTime,remind_period_type as remindPeriodType,
            remind_period as remindPeriod,contract_type as contractType,t.remark,t.tender_id as tenderId,d.dict_code_name as contractTypeName,
            ti.prj_name as prjName,allReturnMoney,CONCAT(round((allReturnMoney/contract_money)*100,2),'%') as returnMoneyPercent,
            ifnull(t.file_rel_id,'') as fileRelId,ifnull(t.elec_file_rel,'') as elecFileRel,t.over_time as overTime,
            allInvociMoney,CONCAT(round((allInvociMoney/contract_money)*100,2),'%') as invociMoneyPercent,
            length(CONCAT(t.file_rel_id,elec_file_rel))-length(replace(CONCAT(t.file_rel_id,elec_file_rel),',','')) as fileCount
        from tx_contract_info t
        left join tx_company_info a on t.party_a = a.company_Id
        left join tx_company_info b on t.party_b = b.company_Id
        left join tx_tender_info ti on t.tender_id = ti.tender_id
        left join tx_dict d on t.contract_type = d.dict_id and d.dict_code ='CONTRACTTYPE'
        left join (SELECT contract_id,sum(back_money) as allReturnMoney from tx_money_back GROUP BY contract_id) c on t.contract_id = c.contract_id
        left join (select contract_id,sum(total_money) as allInvociMoney from tx_invoci_info group by contract_id)  i on i.contract_id = t.contract_id
        <trim prefix="where" prefixOverrides="and">
            <if test="ContractInfo.contractId != null and ContractInfo.contractId != '' ">
                and  t.contract_id = #{ContractInfo.contractId}
            </if>
            <if test="ContractInfo.contractName != null and ContractInfo.contractName != '' ">
                and  contract_name like CONCAT('%',#{ContractInfo.contractName},'%')
            </if>
            <if test="ContractInfo.contractType != null and ContractInfo.contractType != '' ">
                and  contract_type = #{ContractInfo.contractType}
            </if>
            <if test="ContractInfo.partyA != null and ContractInfo.partyA != '' ">
                and  a.company_name  like CONCAT('%',#{ContractInfo.partyA},'%')
            </if>
            <if test="ContractInfo.partyB != null and ContractInfo.partyB != '' ">
                and  b.company_name like CONCAT('%',#{ContractInfo.partyB},'%')
            </if>
            <if test="ContractInfo.contractStatus != null and ContractInfo.contractStatus != '' ">
                and  contract_status like CONCAT('%',#{ContractInfo.contractStatus},'%')
            </if>
            <if test="ContractInfo.contractNoA != null and ContractInfo.contractNoA != '' ">
                and  contract_no_a like CONCAT('%',#{ContractInfo.contractNoA},'%')
            </if>
            <if test="ContractInfo.contractNoB != null and ContractInfo.contractNoB != '' ">
                and  contract_no_b like CONCAT('%',#{ContractInfo.contractNoB},'%')
            </if>

        </trim>
        order by t.create_time desc
    </select>

    <select id="qryContractById" resultType="org.hero.renche.entity.vo.ContractInfoVo">

        select t.contract_id as contractId,contract_name as contractName,party_a as partyA,a.company_name as companyNameA,
        contract_no_a as contractNoA,party_b as partyB,b.company_name as companyNameB,contract_no_b as contractNoB,
        contract_status as contractStatus,contract_money as contractMoney,sign_in_time as signInTime,remind_period_type as remindPeriodType,
        remind_period as remindPeriod,contract_type as contractType,t.remark,t.tender_id as tenderId,d.dict_code_name as contractTypeName,
        ti.prj_name as prjName,allReturnMoney,CONCAT(round((allReturnMoney/contract_money)*100,2),'%') as returnMoneyPercent,
        ifnull(file_rel_id,'') as fileRelId,ifnull(elec_file_rel,'') as elecFileRel,t.over_time as overTime,
        allInvociMoney,CONCAT(round((allInvociMoney/contract_money)*100,2),'%') as invociMoneyPercent,
        length(CONCAT(file_rel_id,elec_file_rel))-length(replace(CONCAT(file_rel_id,elec_file_rel),',','')) as fileCount
        from tx_contract_info t
        left join tx_company_info a on t.party_a = a.company_Id
        left join tx_company_info b on t.party_b = b.company_Id
        left join tx_tender_info ti on t.tender_id = ti.tender_id
        left join tx_dict d on t.contract_type = d.dict_id and d.dict_code ='CONTRACTTYPE'
        left join (SELECT contract_id,sum(back_money) as allReturnMoney from tx_money_back GROUP BY contract_id) c on t.contract_id = c.contract_id
        left join (select contract_id,sum(total_money) as allInvociMoney from tx_invoci_info group by contract_id)  i on i.contract_id = t.contract_id
        where t.contract_id = #{contractId}
    </select>

    <select id="qryIdListByRemaindType" resultType="org.hero.renche.entity.ContractInfo">
        select contract_id as contractId,contract_name as contractName from tx_contract_info where ifnull(remind_period_type,'WEEK')=#{type} and contract_status = '1'
    </select>

    <update id="updateFileIds">
           update tx_contract_info set  file_rel_id = #{ContractInfo.fileRelId}, elec_file_rel = #{ContractInfo.elecFileRel}
            where contract_id = #{ContractInfo.contractId}
    </update>

    <select id="qryFileIdById" resultType="org.hero.renche.entity.ContractInfo">

        select ifnull(file_rel_id,'') as fileRelId,ifnull(elec_file_rel,'') as elecFileRel
        from tx_contract_info t
        where t.contract_id = #{contractId}
    </select>

</mapper>