<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.DictMapper">

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictItemsByCode" parameterType="String"  resultType="java.util.HashMap">
		   select s.dict_code_id value,s.dict_code_name text from tx_dict s
		   where s.dict_code = #{code} order by s.order_no asc
	</select>

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictTextByKey" parameterType="String"  resultType="String">
		   select s.dict_code_name from tx_dict s
		   where s.dict_code = #{code} and s.dict_code_id = #{key}
	</select>

</mapper>