<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.DictMapper">

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictItemsByCode" parameterType="String"  resultType="java.util.HashMap">
		   select s.dict_code_id value,s.dict_code_name text from tx_dict s
		   where s.dict_code = #{code} order by s.order_no asc
	</select>

    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictTextByKey" parameterType="String"  resultType="String">
		   select s.dict_code_name from tx_dict s
		   where s.dict_code = #{code} and s.dict_code_id = #{key}
	</select>

	<select id="queryDict" resultType="int">
		select count(1) FROM  tx_dict
		where  dict_item_id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<select id="queryDictDetail" resultType="org.hero.renche.entity.Dict">
		select dict_id,dict_code_id,dict_code_name,order_no  from tx_dict
		<trim prefix="where" prefixOverrides="and">
			is_use = '0'
			<if test="dictItemId != null and dictItemId != '' ">
				and 	dict_item_id = #{dictItemId}
			</if>
			<if test="dictCodeName != null and dictCodeName != ''">
				and dict_code_name like CONCAT('%',#{dictCodeName},'%')
			</if>
		</trim>
		ORDER BY order_no
	</select>

	<insert id="saveDict">
		insert into tx_dict(dict_id,dict_item_id,dict_code,dict_code_id,dict_code_name,order_no)
		values (#{dictId},#{dictItemId},#{dictCode},#{dictCodeId},#{dictCodeName},#{orderNo})
	</insert>

	<update id="updateDict">
		update tx_dict
		<trim prefix="SET" suffixOverrides=",">
			<if test="dictCodeName!=null and dictCodeName != ''">
				dict_code_name = #{dictCodeName},
			</if>
			<if test="orderNo != null and orderNo != '' ">
				order_no = #{orderNo},
			</if>
		</trim>
		where dict_id = #{dictId}
	</update>


	<update id="delDicts">
		update tx_dict set is_use = '1'
		where dict_id in
		<foreach collection="dictIds" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>

	<delete id="delDict">
		delete from tx_dict
		where dict_id in
		<foreach collection="dictIds" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="checkOnlyDictDetail" resultType="int">
		select count(1) from tx_dict
		where dict_item_id = #{dictItemId} and dict_code_id = #{dictCodeId}
	</select>
</mapper>