<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.EquipInfoMapper">


    <select id="qryEquipList" parameterType="Map" resultType="org.hero.renche.entity.vo.EquipInfoVo">
        select c.material_name,c.material_type,count,b.* from (
            select e.material_id,material_name,py_name,material_type,count(1) as count from tx_equip_info e
            left join tx_material_info m on m.material_id = e.material_id group by e.material_id) c
        left join (
            select material_id,
                ifnull(sum(case dict_code_id when 'FREE' then count end),0) freeCount,
                ifnull(sum(case dict_code_id when 'INUSE' then count end),0) inuseCount,
                ifnull(sum(case dict_code_id when 'INREPAIR' then count end),0) maintenonceCount,
                ifnull(sum(case dict_code_id when 'SCRAP' then count end),0) scripCount
            from (SELECT e.material_id,dict_code_id,COUNT(1) count from tx_equip_info e
                left join tx_dict d on e.equip_status = d.dict_id
                left join tx_material_info m on m.material_id = e.material_id GROUP BY equip_status,e.material_id) a
            GROUP BY material_id) b on c.material_id=b.material_id
        <trim prefix="where" prefixOverrides="and">
            <if test="EquipInfoVo.materialName != null and EquipInfoVo.materialName != '' ">
                and material_name like CONCAT('%',#{EquipInfoVo.materialName},'%')
            </if>
            <if test="EquipInfoVo.materialType != null and EquipInfoVo.materialType != '' ">
                and material_type like CONCAT('%',#{EquipInfoVo.equipModel},'%')
            </if>
        </trim>
        ORDER BY c.py_name asc
    </select>


    <select id="qryEquipListKey" resultType="org.hero.renche.entity.vo.EquipInfoVo">
        select e.equip_id as equipId,e.material_id as materialId,m.material_name as materialName,equip_no as equipNo,manufacory_no as manufacoryNo,
            use_times as useTimes,have_way as haveWay,expiration_date as expirationDate,`condition`,purchase_id as purchaseId,b.dict_code_id as equipStatus
        from tx_equip_info e
        left join tx_material_info m on e.material_id = m.material_id
        LEFT JOIN tx_dict b on e.equip_status = b.dict_id and b.dict_code ='ELECTSTATUS'
        <trim prefix="where" prefixOverrides="and">
            e.material_id = #{EquipInfo.materialId}
            <if test="EquipInfo.equipNo != null and EquipInfo.equipNo != '' ">
                and e.equip_no like CONCAT('%',#{EquipInfo.equipNo},'%')
            </if>
            <if test="EquipInfo.equipStatus != null and EquipInfo.equipStatus != '' ">
                and b.dict_code_id = #{EquipInfo.equipStatus}
            </if>
        </trim>
    </select>

    <select id="qryEquipListKeys" resultType="org.hero.renche.entity.vo.EquipInfoVo">
        select e.equip_id as equipId,e.material_id as materialId,m.material_name as materialName,equip_no as equipNo,manufacory_no as manufacoryNo,
        use_times as useTimes,have_way as haveWay,expiration_date as expirationDate,`condition`,purchase_id as purchaseId,b.dict_code_id as equipStatus
        from tx_equip_info e
        left join tx_material_info m on e.material_id = m.material_id
        INNER JOIN tx_dict b on e.equip_status = b.dict_id and b.dict_code ='ELECTSTATUS' AND (b.dict_code_id='FREE' OR b.dict_code_id ='INREPAIR')
        <trim prefix="where" prefixOverrides="and">
            e.material_id = #{EquipInfo.materialId}
            <if test="EquipInfo.equipNo != null and EquipInfo.equipNo != '' ">
                and e.equip_no like CONCAT('%',#{EquipInfo.equipNo},'%')
            </if>
            <if test="EquipInfo.equipStatus != null and EquipInfo.equipStatus != '' ">
                and b.dict_code_id = #{EquipInfo.equipStatus}
            </if>
        </trim>
    </select>


    <select id="qryEquipKeyCount" resultType="int">
        select count(1) from tx_equip_info
        where material_id = #{materialId}
    </select>


    <update id="updateDetailEquipInfo" >
        update  tx_equip_info a
        <trim  prefix="set" suffixOverrides=",">
            <if test="equipInfo.equipStatus != null and equipInfo.equipStatus != '' ">
                a.equip_status = #{equipInfo.equipStatus},
            </if>
            <if test="equipInfo.condition != null and equipInfo.condition != '' ">
                a.condition = #{equipInfo.condition},
            </if>
            <if test="equipInfo.manufacoryNo !=null and equipInfo.manufacoryNo != '' ">
                a.manufacory_no = #{equipInfo.manufacoryNo},
            </if>
            <if test="equipInfo.useTimes !=null and equipInfo.useTimes != '' ">
                a.use_times = #{equipInfo.useTimes},
            </if>
        </trim>
        where equip_id = #{equipInfo.equipId}
    </update>


    <update id="updateEquipStatus">
        update tx_equip_info set equip_status = '0bd5a7bb593811eaab75b4a9fc4b5236'
        where equip_id = #{equipId}
    </update>

    <update id="updateEuipStatusweix">
        update tx_equip_info set equip_status = '0bd710ac593811eaab75b4a9fc4b5236'
        where equip_id = #{equipId}
    </update>

    <update id="updateEuipStatusbaof">
        update tx_equip_info set equip_status = '0bdb37d9593811eaab75b4a9fc4b5236'
        where equip_id = #{equipId}
    </update>


    <select id="getEquipinfo" resultType="org.hero.renche.entity.EquipInfo">

        SELECT
                e.*
            FROM
                tx_equip_info e
            JOIN tx_dict d ON e.equip_status = d.dict_id
            AND d.dict_code = 'ELECTSTATUS'
            AND d.dict_code_id = 'FREE'
        WHERE
            material_id = #{materialId}
        AND have_way = '1'



    </select>
</mapper>
