<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.InvociInfoMapper">


    <select id="qryInvociInfoList" resultType="org.hero.renche.entity.vo.InvociInfoVo">
		select invoci_id as invociId,invoci_name as invociName,invoci_time as invociTime,content,shuihao,company_name as companyName,
			i.address,i.tel,i.bank,i.bank_no as bankNo,i.price,shui_percent as shuiPercent,shui_money as shuiMoney,total_money as totalMoney,
			invoci_code as invociCode,invoci_number as invociNumber,signatory,i.sign_for_time as signForTime,i.contract_id as contractId,
			i.file_rel_id as fileRelId,contract_name as contractName,
			length(i.file_rel_id)-length(replace(i.file_rel_id,',','')) as fileCount
		from tx_invoci_info i
		left join tx_contract_info c on i.contract_id = c.contract_id
	<trim prefix="where" prefixOverrides="and">
        <if test="InvociInfoVo.content !=null and InvociInfoVo.content != '' ">
            and  content like CONCAT('%',#{InvociInfoVo.content},'%')
        </if>

        <if test="InvociInfoVo.shuihao !=null and InvociInfoVo.shuihao != '' "  >
            and shuihao like CONCAT('%',#{InvociInfoVo.shuihao},'%')
        </if>
		<if test="InvociInfoVo.contractName !=null and InvociInfoVo.contractName != '' "  >
			and c.contract_name like CONCAT('%',#{InvociInfoVo.contractName},'%')
		</if>
		<if test="InvociInfoVo.companyName !=null and InvociInfoVo.companyName != '' "  >
			and company_name like CONCAT('%',#{InvociInfoVo.companyName},'%')
		</if>
		<if test="InvociInfoVo.contractId !=null and InvociInfoVo.contractId != '' "  >
			and i.contract_id = #{InvociInfoVo.contractId}
		</if>
        <if test="InvociInfoVo.invociTime != null ">
            and  invoci_time = #{InvociInfoVo.invociTime}
        </if>

    </trim>
		order by i.create_time desc

    </select>

	<select id="qryFileIdByInvociId" resultType="java.lang.String">
		select  file_rel_id from tx_invoci_info where invoci_id = #{invociId}
	</select>

	<update id="updateFileIds">
		 update tx_invoci_info set file_rel_id = #{InvociInfo.fileRelId} where invoci_id = #{InvociInfo.invociId}
	</update>

</mapper>