<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.ManagingPeopleInfoMapper">

    <select id="qryManagingPeopleInfo" resultType="org.hero.renche.entity.vo.ManagingPeopleInfoVo">

        SELECT
        p.prj_item_name,
        m.*
        FROM
        tx_managing_people_info m
        JOIN tx_project_item p ON m.prj_item_id = p.prj_item_id
        <where>

            <if test="ManagingPeopleInfoVo.prjItemName != null and ManagingPeopleInfoVo.prjItemName != '' ">
                p.prj_item_name  = #{ManagingPeopleInfoVo.prjItemName}
            </if>


        </where>

    </select>

</mapper>
