<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.OutEquipInfoMapper">



    <update id="updateEquipListKeys">
        UPDATE tx_equip_info SET use_times=use_times+1,equip_status='0bd8b881593811eaab75b4a9fc4b5236'
        where equip_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </update>

    <update id="updateEquipListKeyDelete">
        UPDATE tx_equip_info SET equip_status='0bd5a7bb593811eaab75b4a9fc4b5236'
        where equip_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>


    <insert id="insertOutEquipInfo">

        insert into tx_out_equip(out_id,equip_id,prj_item_id,create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.outId},#{item.equipId},#{item.prjItemId},sysdate())
        </foreach>


    </insert>

    <delete id="delOutEquip">
        delete from tx_out_equip where out_id = #{outId}
    </delete>

    <select id="qryOutEquipId" resultType="org.hero.renche.entity.OutEquipInfo">
        select out_id,equip_id from tx_out_equip where out_id = #{outId}
    </select>
</mapper>