<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.ProContractRelMapper">


    <insert id="addProjectItem" >
        insert into tx_pro_contract_rel values(#{contractId},#{prjItemId});
    </insert>

    <select id="qryProItemByContractId" resultType="org.hero.renche.entity.vo.ProjectItemVo">

        select t.prj_item_id as prjItemId,prj_item_name as prjItemName,prj_item_num as prjItemNum,prj_item_type as prjItemType,
        prj_name as prjName,company_name as companyName,person_in_charge as personInCharge
        from tx_pro_contract_rel p
        left join tx_project_item t on p.prj_item_id = t.prj_item_id
        left join tx_company_info c on t.belong_company = c.company_Id
        where contract_id = #{contractId}
        order by t.create_time desc
    </select>

    <delete id="delProjectItem">
        delete from tx_pro_contract_rel where contract_Id = #{contractId} and prj_item_id = #{prjItemId}
    </delete>

</mapper>