<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.PurchaseInfoMapper">

    
    <select id="qryListPurchaseInfo" resultType="org.hero.renche.entity.PurchaseInfo">

        select purchase_id,purchase_item,item_model,price,quantity,purchaser,purchase_time,which_company,isarrival,arrival_time,create_time,total_price,remarks,file_rel_id,isstorage
        from tx_purchase_info
        <trim prefix="where" prefixOverrides="and">
            <if test="PurchaseInfo.purchaseItem != null and PurchaseInfo.purchaseItem != '' ">
              and  purchase_item like CONCAT('%',#{PurchaseInfo.purchaseItem},'%')
            </if>
            <if test="PurchaseInfo.purchaser != null and PurchaseInfo.purchaser != '' ">
                and  purchaser  like CONCAT('%',#{PurchaseInfo.purchaser},'%')
            </if>
            <if test="PurchaseInfo.isarrival != null and PurchaseInfo.isarrival != '' ">
                and  isarrival = #{PurchaseInfo.isarrival}
            </if>
            <if test="PurchaseInfo.isstorage != null and PurchaseInfo.isstorage != '' ">
                and  isstorage = #{PurchaseInfo.isstorage}
            </if>
            <if test="PurchaseInfo.purchaseTime != null and PurchaseInfo.purchaseTime != '' ">
                and  purchase_time = #{PurchaseInfo.purchaseTime}
            </if>
        </trim>
        order by create_time desc
    </select>
    
    
    <update id="updatePurchaseByIds">
        UPDATE tx_purchase_info set isarrival = '1'
        where purchase_id in
        <foreach collection="list" item="purchaseByIds" open="(" close=")" separator=",">
            #{purchaseByIds}
        </foreach>
    </update>



    <insert id="insertReceiving">

        insert into tx_equip_info(equip_id,equip_name,equip_model,equip_no,equip_price,purchase_id,create_time)
        VALUES
        <foreach collection="list" item="equipList"  separator=")," >
            (#{equipList.equipId},#{equipList.equipName},#{equipList.equipModel},#{equipList.equipNo},#{equipList.equipPrice},#{equipList.purchaseId},sysdate()
        </foreach>


)

    </insert>


    <select id="qryPurchaseInfoKey" resultType="String">
        select isstorage from tx_purchase_info where purchase_Id=#{purchaseId}
    </select>

    <update id="updatePurchaseKey">
         UPDATE tx_purchase_info set isstorage = '1'
         where purchase_id=#{purchaseById}
    </update>
</mapper>
