<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.PurchaseInfoMapper">

    
    <select id="qryListPurchaseInfo" resultType="org.hero.renche.entity.PurchaseInfo">

        select purchase_id,purchase_item,item_model,price,quantity,purchaser,purchase_time,b.depart_name as 'whichCompany',
        isarrival,arrival_time,a.create_time,total_price,remarks,file_rel_id,isstorage
        from tx_purchase_info a
        LEFT JOIN sys_depart b on a.which_company = b.id
        <trim prefix="where" prefixOverrides="and">
            <if test="PurchaseInfo.purchaseItem != null and PurchaseInfo.purchaseItem != '' ">
              and  purchase_item like CONCAT('%',#{PurchaseInfo.purchaseItem},'%')
            </if>
            <if test="PurchaseInfo.purchaser != null and PurchaseInfo.purchaser != '' ">
                and  purchaser  like CONCAT('%',#{PurchaseInfo.purchaser},'%')
            </if>
            <if test="PurchaseInfo.isarrival != null and PurchaseInfo.isarrival != '' ">
                and  isarrival = #{PurchaseInfo.isarrival}
            </if>
            <if test="PurchaseInfo.isstorage != null and PurchaseInfo.isstorage != '' ">
                and  isstorage = #{PurchaseInfo.isstorage}
            </if>
            <if test="PurchaseInfo.purchaseTime != null and PurchaseInfo.purchaseTime != '' ">
                and  purchase_time = #{PurchaseInfo.purchaseTime}
            </if>
        </trim>
        order by create_time desc
    </select>

    <select id="qryListPurchaseInfoId" resultType="org.hero.renche.entity.PurchaseInfo">
         select purchase_id,purchase_item,item_model,price,quantity,purchaser,purchase_time,which_company,
        isarrival,arrival_time,create_time,total_price,remarks,file_rel_id,isstorage
        from tx_purchase_info
        where purchase_id = #{purchaseById}
    </select>
    
    <update id="updatePurchaseByIds">
        UPDATE tx_purchase_info set isarrival = '1'
        where purchase_id in
        <foreach collection="list" item="purchaseByIds" open="(" close=")" separator=",">
            #{purchaseByIds}
        </foreach>
    </update>



    <insert id="insertReceiving">

        insert into tx_equip_info(equip_id,equip_name,equip_model,equip_no,equip_price,purchase_id,create_time)
        VALUES
        <foreach collection="list" item="equipList"  separator=")," >
            (#{equipList.equipId},#{equipList.equipName},#{equipList.equipModel},#{equipList.equipNo},#{equipList.equipPrice},#{equipList.purchaseId},sysdate()
        </foreach>


)

    </insert>


    <select id="qryPurchaseInfoKey" resultType="String">
        select isstorage from tx_purchase_info where purchase_Id=#{purchaseId}
    </select>

    <update id="updatePurchaseKey">
         UPDATE tx_purchase_info set isstorage = '1'
         where purchase_id=#{purchaseById}
    </update>

    <update id="updatePurchaseByKey">
        update tx_purchase_info
        <trim prefix="set" suffixOverrides=",">
            <if test="purchaseInfo.purchaseItem != null and purchaseInfo.purchaseItem != '' ">
                purchase_item = #{purchaseInfo.purchaseItem},
            </if>
            <if test="purchaseInfo.itemModel != null and purchaseInfo.itemModel != '' ">
                item_model = #{purchaseInfo.itemModel},
            </if>
            <if test="purchaseInfo.price != null and purchaseInfo.price != '' ">
                price = #{purchaseInfo.price},
            </if>
            <if test="purchaseInfo.quantity != null and purchaseInfo.quantity != '' ">
                quantity = #{purchaseInfo.quantity},
            </if>
            <if test="purchaseInfo.totalPrice != null and purchaseInfo.totalPrice != '' ">
                total_price = #{purchaseInfo.totalPrice},
            </if>
            <if test="purchaseInfo.purchaser != null and purchaseInfo.purchaser != '' ">
                purchaser = #{purchaseInfo.purchaser},
            </if>
            <if test="purchaseInfo.purchaseTime != null ">
                purchase_time = #{purchaseInfo.purchaseTime},
            </if>
            <if test="purchaseInfo.whichCompany != null and purchaseInfo.whichCompany != '' ">
                which_company = #{purchaseInfo.whichCompany},
            </if>
            <if test="purchaseInfo.arrivalTime != null ">
                arrival_time = #{purchaseInfo.arrivalTime},
            </if>
            <if test="purchaseInfo.fileRelId != null and purchaseInfo.fileRelId != '' ">
                file_rel_id = #{purchaseInfo.fileRelId},
            </if>
            <if test="purchaseInfo.remarks != null and purchaseInfo.remarks != '' ">
                remarks = #{purchaseInfo.remarks},
            </if>
        </trim>
        where purchase_id = #{purchaseInfo.purchaseId}

    </update>


</mapper>
