<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.SoftwareDeployMapper">

    <select id="getSoftwareDeployByManId" resultType="org.hero.renche.entity.SoftwareDeploy">

        select * from tx_software_deploy where managing_people_id = #{managingPeopleId}
    </select>

</mapper>
