<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.TaskInfoMapper">


    <select id="qryTaskInfoList" resultType="org.hero.renche.entity.vo.TaskInfoVo">
		select t.task_id as taskId,t.prj_item_id as prjItemId,t.prj_item_name as prjItemName,t.task_name as taskName,t.task_content as taskContent,
			t.receive_user as receiveUser,t.receive_user_name as receiveUserName,t.plan_start_time as planStartTime,t.plan_end_time as planEndTime,
			t.start_time as startTime,t.end_time as endTime,t.contact_person as contactPerson,t.contact_tel as contactTel,t.status,
			t.file_rel_id as fileRelId,t.create_user_name as createUserName,t.is_make_demand as isMakeDemand,
			length(t.file_rel_id)-length(replace(t.file_rel_id,',','')) as fileCount,p.progress_of_item as progressOfItem
		from tx_task_info t
		left join tx_project_item p on p.prj_item_id = t.prj_item_id
	<trim prefix="where" prefixOverrides="and">
        <if test="TaskInfo.prjItemName !=null and TaskInfo.prjItemName != '' ">
            and  t.prj_item_name like CONCAT('%',#{TaskInfo.prjItemName},'%')
        </if>
        <if test="TaskInfo.taskName !=null and TaskInfo.taskName != '' "  >
            and t.task_name like CONCAT('%',#{TaskInfo.taskName},'%')
        </if>
		<if test="TaskInfo.status !=null and TaskInfo.status != '' "  >
			and t.status = #{TaskInfo.status}
		</if>
		<if test="TaskInfo.receiveUser !=null and TaskInfo.receiveUser != '' ">
			and t.receive_user like CONCAT('%',#{TaskInfo.receiveUser},'%')
		</if>
		<if test="TaskInfo.startTime != null">
			and date_format(t.start_time,'%Y-%m-%d')  <![CDATA[ >= ]]> date_format(#{TaskInfo.startTime},'%Y-%m-%d')
		</if>
		<if test="TaskInfo.endTime != null">
			and date_format(t.start_time,'%Y-%m-%d')  <![CDATA[ <= ]]>  date_format(#{TaskInfo.endTime},'%Y-%m-%d')
		</if>
		<if test="TaskInfo.createUser !=null and TaskInfo.createUser != '' "  >
			and t.create_user = #{TaskInfo.createUser}
		</if>
    </trim>
		order by t.create_time desc
    </select>
	<select id="qryMyTaskInfoList" resultType="org.hero.renche.entity.vo.TaskInfoVo">
		select t.task_id as taskId,t.prj_item_id as prjItemId,t.prj_item_name as prjItemName,t.task_name as taskName,t.task_content as taskContent,
		t.receive_user as receiveUser,t.receive_user_name as receiveUserName,t.plan_start_time as planStartTime,t.plan_end_time as planEndTime,
		t.start_time as startTime,t.end_time as endTime,t.contact_person as contactPerson,t.contact_tel as contactTel,t.status,
		t.file_rel_id as fileRelId,t.create_user_name as createUserName,t.is_make_demand as isMakeDemand,
		length(t.file_rel_id)-length(replace(t.file_rel_id,',','')) as fileCount,p.progress_of_item as progressOfItem
		from tx_task_info t
		left join tx_project_item p on p.prj_item_id = t.prj_item_id
		where t.status != '0'
        <if test="TaskInfo.prjItemName !=null and TaskInfo.prjItemName != '' ">
            and  prj_item_name like CONCAT('%',#{TaskInfo.prjItemName},'%')
        </if>
        <if test="TaskInfo.taskName !=null and TaskInfo.taskName != '' "  >
            and task_name like CONCAT('%',#{TaskInfo.taskName},'%')
        </if>
        <if test="TaskInfo.status !=null and TaskInfo.status != '' "  >
            and status = #{TaskInfo.status}
        </if>
        <if test="TaskInfo.receiveUser !=null and TaskInfo.receiveUser != '' ">
            and  receive_user like CONCAT('%',#{TaskInfo.receiveUser},'%')
        </if>
        <if test="TaskInfo.startTime != null">
            and date_format(start_time,'%Y-%m-%d')  <![CDATA[ >= ]]> date_format(#{TaskInfo.startTime},'%Y-%m-%d')
        </if>
        <if test="TaskInfo.endTime != null">
            and date_format(start_time,'%Y-%m-%d')  <![CDATA[ <= ]]>  date_format(#{TaskInfo.endTime},'%Y-%m-%d')
        </if>
        <if test="TaskInfo.createUser !=null and TaskInfo.createUser != '' "  >
            and t.create_user = #{TaskInfo.createUser}
        </if>
		order by t.create_time desc
	</select>

	<select id="qryFileIdByTaskId" resultType="java.lang.String">
		select  ifnull(file_rel_id,'') as fileRelId from tx_task_info where task_id = #{taskId}
	</select>

	<update id="updateFileIds">
		 update tx_task_info set file_rel_id = #{TaskInfo.fileRelId} where task_id = #{TaskInfo.taskId}
	</update>

	<update id="editTaskStatus">
		update tx_task_info set status = #{status} where task_id = #{taskId}
	</update>

    <update id="makeSureToMakeDemand">
		update tx_task_info set is_make_demand = '1' where task_id in
		<foreach collection="list" separator="," close=")" open="(" item="taskId">
            #{taskId}
        </foreach>
	</update>

</mapper>