<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.TenderInfoMapper">


    <select id="qryTenderList" resultType="org.hero.renche.entity.TenderInfo">
        SELECT tender_id as tenderId,tender_no as tenderNo,plan_out_time as planOutTime, reality_out_time as realityOutTime,prj_name as prjName,
            tender_company as tenderCompany,tender_offer as tenderOffer,deposit,is_back as isBack,agency,purchase_person as purchasePerson,
            service_money as serviceMoney,pay_time as payTime,recede_time as recedeTime,recede_deposit as recedeDeposit,remark, pay_way as payWay,
            ifnull(t.file_rel_id,'') as fileRelId
        FROM tx_tender_info t
        <trim prefix="where" prefixOverrides="and">
            <if test="TenderInfo.prjName !=null and TenderInfo.prjName != '' ">
                and prj_name like CONCAT('%',#{TenderInfo.prjName},'%')
            </if>
            <if test="TenderInfo.tenderNo != null and TenderInfo.tenderNo != '' ">
                and tender_no like CONCAT('%',#{TenderInfo.tenderNo },'%')
            </if>
            <if test="TenderInfo.tenderCompany != null and TenderInfo.tenderCompany!= '' ">
                and tender_company like CONCAT('%',#{TenderInfo.tenderCompany },'%')
            </if>

        </trim>
        order by create_time desc
    </select>

    <select id="qryTenderById" resultType="org.hero.renche.entity.TenderInfo">
        SELECT tender_id as tenderId,tender_no as tenderNo,plan_out_time as planOutTime, reality_out_time as realityOutTime,prj_name as prjName,
            tender_company as tenderCompany,tender_offer as tenderOffer,deposit,is_back as isBack,agency,purchase_person as purchasePerson,
            service_money as serviceMoney,pay_time as payTime,recede_time as recedeTime,recede_deposit as recedeDeposit,remark, pay_way as payWay,
            ifnull(t.file_rel_id,'') as fileRelId
        FROM tx_tender_info t
        where tender_id = #{tenderId}
    </select>

    <select id="exportTenderInfoList" resultType="org.hero.renche.entity.TenderInfo">
        SELECT tender_id as tenderId,tender_no as tenderNo,plan_out_time as planOutTime, reality_out_time as realityOutTime,prj_name as prjName,
            tender_company as tenderCompany,tender_offer as tenderOffer,deposit,agency,purchase_person as purchasePerson,
            service_money as serviceMoney,pay_time as payTime,recede_time as recedeTime,recede_deposit as recedeDeposit,remark,
            (CASE WHEN is_back = '1' THEN '是' WHEN is_back = '2' THEN '否' END) as isBack,
            (CASE WHEN pay_way = '1' THEN '自缴' WHEN pay_way = '2' THEN '保证金扣除' END) as payWay
        FROM tx_tender_info
        <trim prefix="where" prefixOverrides="and">
            <if test="TenderInfo.prjName !=null and TenderInfo.prjName != '' ">
                and prj_name like CONCAT('%',#{TenderInfo.prjName},'%')
            </if>
            <if test="TenderInfo.tenderNo != null and TenderInfo.tenderNo != '' ">
                and tender_no like CONCAT('%',#{TenderInfo.tenderNo },'%')
            </if>
            <if test="TenderInfo.tenderCompany != null and TenderInfo.tenderCompany!= '' ">
                and tender_company like CONCAT('%',#{TenderInfo.tenderCompany },'%')
            </if>
        </trim>
        order by create_time desc
    </select>

    <select id="qryFileIdsById" resultType="java.lang.String">
        select  ifnull(file_rel_id,'') as fileRelId from tx_tender_info where tender_id = #{tenderId}
    </select>

    <update id="updateFileIds">
           update tx_tender_info set  file_rel_id = #{TenderInfo.fileRelId}
            where tender_id = #{TenderInfo.tenderId}
    </update>

</mapper>