<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.VisitInfoMapper">

    <select id="qryListVisitInfo" resultType="org.hero.renche.controller.voentity.VoViditInfo">
        SELECT b.company_name ,  a.visit_time , a.visitor ,a.way , a.content ,a.result,a.visit_id
        FROM tx_visit_info a  join tx_company_info b on a.company_id=b.company_id
        <trim prefix="where" prefixOverrides="and">
            <if test="VoViditInfo.companyName !=null and VoViditInfo.companyName != '' ">
                and  b.company_name like CONCAT('%',#{VoViditInfo.companyName},'%')
            </if>
            <if test="VoViditInfo.visitTime != null and VoViditInfo.visitTime != '' ">
                and  a.visit_time  like CONCAT('%',#{VoViditInfo.visitTime },'%')
            </if>
            <if test="VoViditInfo.visitor != null and VoViditInfo.visitor!= '' ">
                and  a.visitor  like CONCAT('%',#{VoViditInfo.visitor },'%')
            </if>

        </trim>
        order by a.visit_time desc
    </select>

    <insert id="addVisitInfo" parameterType="org.hero.renche.entity.VisitInfo">
        insert into  tx_visit_info(visit_id,company_id,visit_time,visitor,way,content,result)
        values (#{VisitInfo.visitId},#{VisitInfo.companyId},
        #{VisitInfo.visitTime},#{VisitInfo.visitor},
        #{VisitInfo.way},#{VisitInfo.content},#{VisitInfo.result})

    </insert>


    <delete id="removeByIds">
        delete from  tx_visit_info where visit_id in
        <foreach collection="list" item="stringList" open="(" close=")" separator=",">
            #{stringList}
        </foreach>

    </delete>

    <delete id="deleteVisitInfoById">
        delete from  tx_visit_info where visit_id = #{visitId}
    </delete>




</mapper>