<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.WorkOrderInfoMapper">

    <select id="qryWorkOrderInfoList"  resultType="org.hero.renche.controller.voentity.VoWorkOrderInfo" >


        SELECT
        a.work_id,
        a.prj_item_id,
        b.prj_item_name,
        a.work_name,
        a.create_person,
        a.charge_person,
        a.DESCRIBE,
        a.create_Time,
        a.complete_time,
        a.file_rel_id,
        a.STATUS

        FROM
        tx_work_order a
        LEFT JOIN tx_project_item b ON a.prj_item_id = b.prj_item_id
        <trim prefix="where" prefixOverrides="and">
            <if test="VoWorkOrderInfo.workName != null and VoWorkOrderInfo.workName != '' ">
           and a.work_name like CONCAT('%',#{VoWorkOrderInfo.workName},'%')
           </if>
           <if test="VoWorkOrderInfo.chargePerson != null and VoWorkOrderInfo.chargePerson != ''">
              and  a.charge_person like CONCAT('%',#{VoWorkOrderInfo.chargePerson},'%')
           </if>
        </trim>
        order by a.create_time desc


    </select>

    <insert id="addWorkOrderInfo" parameterType="org.hero.renche.entity.WorkOrderInfo" >

      insert into tx_work_order(work_id, prj_item_id,work_name , create_person,  charge_person, `describe`,create_time,  complete_time,`status`, file_rel_id)
 VALUES(#{WorkOrderInfo.workId},#{WorkOrderInfo.prjItemId},#{WorkOrderInfo.workName},#{WorkOrderInfo.createPerson},#{WorkOrderInfo.chargePerson},
         #{WorkOrderInfo.describe},#{WorkOrderInfo.createTime},#{WorkOrderInfo.completeTime},#{WorkOrderInfo.status},#{WorkOrderInfo.fileRelId})

    </insert>

    <delete id="removeWorkOrderByIds" >
        delete from tx_work_order where work_id in
        <foreach collection="list" item="workIds" open="(" close=")" separator=",">
            #{workIds}
        </foreach>
    </delete>

    <select id="qryWorkOrderInfoListById" resultType="java.lang.Integer" >
        select count(0) from tx_work_order where work_id in
        <foreach collection="workIds" item="workIds" open="(" close=")" separator=",">
            #{workIds}
        </foreach>
    </select>

    <select id="prjItemName" resultType="java.util.HashMap">

         select prj_item_id id ,prj_item_name value from tx_project_item order by prj_item_name desc


    </select>

    <update id="upWorkOrderInfo" parameterType="org.hero.renche.entity.WorkOrderInfo" >

        update tx_work_order a
        <trim prefix="set"  suffixOverrides=",">
        <if test="WorkOrderInfo.prjItemId != null and WorkOrderInfo.prjItemId != ''">
            a.prj_item_id= #{WorkOrderInfo.prjItemId},
        </if>
        <if test="WorkOrderInfo.workName != null and WorkOrderInfo.workName != ''">
            a.work_name= #{WorkOrderInfo.workName},
        </if>
        <if test="WorkOrderInfo.createPerson != null and WorkOrderInfo.createPerson != ''">
            a.create_person= #{WorkOrderInfo.createPerson},
        </if>
        <if test="WorkOrderInfo.chargePerson != null and WorkOrderInfo.chargePerson != ''">
            a.charge_person= #{WorkOrderInfo.chargePerson},
        </if>
        <if test="WorkOrderInfo.describe != null and WorkOrderInfo.describe != '' ">
            a.describe = #{WorkOrderInfo.describe},
        </if>
        <if test="WorkOrderInfo.completeTime != null ">
            a.complete_time = #{WorkOrderInfo.completeTime},
        </if>
        <if test="WorkOrderInfo.status != null and WorkOrderInfo.status != ''">
            a.status = #{WorkOrderInfo.status},
        </if>
        <if test="WorkOrderInfo.fileRelId != null and WorkOrderInfo.fileRelId != ''">
            a.file_rel_id = #{WorkOrderInfo.fileRelId},
        </if>
    </trim>
        where a.work_id = #{WorkOrderInfo.workId}


    </update>

    <update id="updateFileIds">

        update tx_work_order set file_rel_id = #{ids} where work_id = #{workId}
    </update>
    <select id="qryFileIdByWorkId" resultType="java.lang.String">

        select file_rel_id from tx_work_order where work_id = #{workId}
    </select>

    <select id="exportWorkOrderInfoList" resultType="org.hero.renche.controller.voentity.VoWorkOrderInfo" >

        SELECT
        a.work_id,
        a.prj_item_id,
        b.prj_item_name,
        a.work_name,
        a.create_person,
        a.charge_person,
        a.DESCRIBE,
        a.create_Time,
        a.complete_time,
        a.file_rel_id,
        CASE

        WHEN a.STATUS = '1' THEN
        '实施'
        WHEN a.STATUS  = '2' THEN
        '维修'
        WHEN a.STATUS = '3' THEN
        '拜访'
        WHEN a.STATUS = '4' THEN
        '销售'
        END STATUS
        FROM
        tx_work_order a
        LEFT JOIN tx_project_item b ON a.prj_item_id = b.prj_item_id
        <trim prefix="where" prefixOverrides="and">
            <if test="VoWorkOrderInfo.workName != null and VoWorkOrderInfo.workName != '' ">
                and a.work_name like CONCAT('%',#{VoWorkOrderInfo.workName},'%')
            </if>
            <if test="VoWorkOrderInfo.chargePerson != null and VoWorkOrderInfo.chargePerson != ''">
                and  a.charge_person like CONCAT('%',#{VoWorkOrderInfo.chargePerson},'%')
            </if>
        </trim>
        order by a.create_time desc


    </select>

    <select id="qryWorkIdListByWorkName" resultType="java.lang.String">

        select work_id from tx_work_order where work_name like CONCAT('%',#{workName},'%')

    </select>





</mapper>