<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hero.renche.mapper.WorkOrderInfoMapper">

    <select id="qryWorkOrderInfoList"  resultType="org.hero.renche.entity.WorkOrderInfo" >

        select * from  tx_work_order
        <trim prefix="where" prefixOverrides="and">
            <if test="WorkOrderInfo.workName != null and WorkOrderInfo.workName != '' ">
           and work_name like CONCAT('%',#{WorkOrderInfo.workName},'%')
           </if>
           <if test="WorkOrderInfo.chargePerson != null and WorkOrderInfo.chargePerson != ''">
              and  charge_person like CONCAT('%',#{WorkOrderInfo.chargePerson},'%')
           </if>
        </trim>
        order by create_time desc


    </select>

    <insert id="addWorkOrderInfo" parameterType="org.hero.renche.entity.WorkOrderInfo" >

      insert into tx_work_order(work_id, prj_item_id,work_name , create_person,  charge_person, `describe`,create_time,  complete_time,`status`, file_rel_id)
 VALUES(#{WorkOrderInfo.workId},#{WorkOrderInfo.prjItemId},#{WorkOrderInfo.workName},#{WorkOrderInfo.createPerson},#{WorkOrderInfo.chargePerson},
         #{WorkOrderInfo.describe},#{WorkOrderInfo.createTime},#{WorkOrderInfo.completeTime},#{WorkOrderInfo.status},#{WorkOrderInfo.fileRelId})

    </insert>

    <delete id="removeWorkOrderByIds" >
        delete from tx_work_order where work_id in
        <foreach collection="list" item="workIds" open="(" close=")" separator=",">
            #{workIds}
        </foreach>
    </delete>

    <select id="qryWorkOrderInfoListById" resultType="java.lang.Integer" >
        select count(0) from tx_work_order where work_id in
        <foreach collection="workIds" item="workIds" open="(" close=")" separator=",">
            #{workIds}
        </foreach>
    </select>

</mapper>